<meta charset="UTF-8">
<title>Super Awesome</title>
<link rel="stylesheet" href="../../public/css/head.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">